<div id="student-list-container">
  <table class="table">
    <thead>
      <tr>
        <th (click)="sort('name')">Name</th>
        <th (click)="sort('grade')">Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of studentList" (click)="handleStudentClick(data)">
        <td>{{data.name}}</td>
        <td>{{data.grade}}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="handlePageClick('prev')">prev</button>
  <button (click)="handlePageClick('next')">next</button>
</div>