#student-list-container {
  width: 39.5vw;
  height:100%;
  margin-right: .5vw;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

#table-head {
  width:100%
}

.name {
  width: 15vw;
}

.grade {
  width: 4vw;
}

#table-fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1vw;
}


