#student-list-container {
  width: 34.5vw;
  height:100%;
  background-color: white;
  margin-right: .5vw;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5vw;
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.name {
  width: 15vw;
}

.grade {
  width: 4vw;
}

#table-fields {
  padding: 2.6vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


