<div id="student-list-container">
  <table class="table">
    <thead id="table-head">
      <tr id="table-fields">
        <th class="name" (click)="sort('name')">Name</th>
        <th class="grade" (click)="sort('grade')">Grade</th>
      </tr>
    </thead>
    <tbody id="table-body">
      <tr *ngFor="let data of studentList" class="table-row" (click)="handleStudentClick(data)">
        <td class="name">{{data.name}}</td>
        <td class="grade">{{data.grade}}</td>
      </tr>
    </tbody>
  </table>
  <div class="buttons">
    <button (click)="handlePageClick('prev')">prev</button>
    <button (click)="handlePageClick('next')">next</button>
  </div>
</div>