#student-list-container {
  width: 25.5em;
  min-width: 300px;
  background-color: white;
  margin-right: .5vw;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5vh;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1.5em;
}

.title {
  font-size: 1.7em;
  padding-top: 1.5vh;
  padding-bottom: .5vh;
  margin: 0;
}

.table-fields:hover {
  color: blue;
  cursor: pointer;
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.name {
  width: 15vw;
}

.name:hover {
  color: blue;
  cursor: pointer;
}

.grade:hover {
  color: blue;
  cursor: pointer;
}

.grade {
  width: 4vw;
}

#table-fields {
  padding: 2.6vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-container {
  width: 25vw;
  display: flex;
  justify-content: flex-end;
}

.button {
  border:0;
  border-radius: 1vh;
  width: 4vw;
  min-width: 40px;
  padding: 1vh;
  margin: 2vh;
  font-weight: bold;
  font-size: .7em;
}

.button:hover {
  cursor: pointer;
}


