#student-profile-container {
  width: 25.7em;
  min-width: 300px;
  background-color: white;
  margin-left: .5vw;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#student-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vh;
  font-size: 1em;
}

#student-info {
  display: flex;
  height:17vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 2.5vh;;
}

#student-picture {
  margin: 2vh;
  width: 26vh;
}

#student-profile-title {
  font-size: 1.7em;
  padding-top: 1.5vh;
  padding-bottom: .5vh;
  margin: 0;
}

.input-box {
  margin-left: .5em;
  width: 10vw;
  height: 1.5em;
  min-height: 12px;
}

.buttons {
  width: 7vw;
  min-width: 60px;
  align-items: center;
  padding: 1vh;
  border:0;
  border-radius: 1.1vh;
  font-weight: bold;
  font-size: 1em;
  background-color: #FF8945;
}

button:hover {
  cursor: pointer;
}

.margin {
  margin: 1vh;
  display: flex;
  justify-content: space-between;
}