<div id="student-profile-container">
  <h1 id="student-profile-title">Student Profile</h1>
  <img id="student-picture" src="{{studentPicture}}" alt="student picture" />
  <form id="student-info-container" [formGroup]="profileForm" (ngSubmit)="onSubmit(studentId)">
    <div id="student-info">
      <label class="margin">
        Name:
        <input type="text" formControlName="name" required>
      </label>
      <label class="margin">
        Grade:
        <input type="text" formControlName="grade" required>
      </label>
      <label class="margin">
        Age:
        <input type="text" formControlName="age" required>
      </label>
    </div>
    <button class="buttons" type="submit">Save</button>
  </form>
  <button class="buttons" (click)="onDelete(studentId)">Delete</button>
</div>