#student-profile-container {
  width: 34.5vw;
  height:100%;
  background-color: white;
  margin-left: .5vw;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5vw;
}

#student-info-container {
  display: flex;
  height:23vh;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vh;
}

#student-info {
  display: flex;
  height:17vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 2.5vh;;
}

#student-picture {
  margin: 2vh;
  height: 20vw;
}

#student-profile-title {
  padding-top: 1.5vh;
  padding-bottom: .5vh;
  margin: 0;
}

.buttons {
  width: 7vw;
  align-items: center;
  padding: 1vh;
  border:0;
  border-radius: 1vh;
}

.margin {
  margin: 1vh;
}