#add-student {
  width: 100%;
  height:100%;
  background-color: white;
  border-radius: 15px;
  border-color: grey;
  border-width: 50px; 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.input {
  margin-left: .5vw;
  margin-right: .5vw;
  display: flex;
  align-items: center;
}

.button {
  border:0;
  border-radius: 1vh;
  padding: 2vh;
}