#header-container {
  background-color: #002673;
  margin: 0;
  height: 12vh;
  display: flex;
  align-items: center;
}

#logo {
  margin: 0;
  height: 100%;
}

#header-title {
  padding-left: 2vw;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #FFB570;
  font-size: min(5vw, 5vh);
}