#body-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#list-and-profile-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  margin-top:2vh;
}

#add-student-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 2vh;
  height: 10vh;
  border-radius: 15px;
}
